* {
  padding: 0;
  margin: 0;
  list-style: none;
}

body,
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 0.6rem;
}

.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.wrap header {
  width: 100%;
  height: 1rem;
  text-align: center;
  line-height: 1rem;
  background: pink;
  font-weight: bold;
}

.wrap section {
  width: 100%;
  flex: 1;
  background: #ccc;
  font-size: 0.35rem;
}

.wrap section h3 {
  text-align: center;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.wrap section ul {
  width: 100%;
}

.wrap section ul li {
  display: flex;
  height: 0.7rem;
  line-height: 0.7rem;
}

.wrap section ul li span {
  flex: 1;
  text-align: center;
}

.wrap footer {
  width: 100%;
  height: 1rem;
  text-align: center;
  line-height: 1rem;
  background: pink;
  font-weight: bold;
}
