* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  box-sizing: border-box;
  font-size: .14rem;
  font-style: normal;
  font-weight: normal;
}

ul,
li {
  list-style: none;
}

html {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  font-size: 625%;
}

img,
div,
body,
html,
ul,
li,
a {
  -webkit-touch-callout: none;
}

input,
button {
  outline: 0;
}

button {
  cursor: pointer;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #ccc;
}

body,
.box,
html {
  width: 100%;
  height: 100%;
}

body {
  font-size: .32rem;
}

header, section h3, section ul li span, footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

header {
  width: 100%;
  height: .4rem;
  background: pink;
}

section {
  flex: 1;
  overflow-y: scroll;
}

section h3 {
  line-height: 0.35rem;
}

section ul {
  border-top: 0.01rem solid #3d3b3b;
  margin-top: 0.1rem;
}

section ul li {
  list-style: none;
  display: flex;
  border-bottom: 0.01rem solid #3d3b3b;
}

section ul li span {
  flex: 1;
  line-height: 0.35rem;
}

footer {
  width: 100%;
  height: .4rem;
  background: pink;
}
