body {
  font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
}

a,
img {
  -webkit-touch-callout: none;
}

html,
body {
  -webkit-user-select: none;
  user-select: none;
}

button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
}

a,
button,
input,
optgroup,
select,
textarea {
  -webkit-tap-highlight-color: transparent;
}

input::-webkit-input-placeholder {
  color: #ccc;
}

input:focus::-webkit-input-placeholder {
  color: #f00;
}

body {
  -webkit-text-size-adjust: 100% !important;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-size: .14rem;
}

html,
body {
  font-family: "Microsoft YaHei";
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 625%;
}

.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  height: .8rem;
}

header > .head {
  width: 100%;
  height: .4rem;
  display: flex;
}

header > .head > form {
  width: 80%;
  margin: 0 5%;
  height: 80%;
  display: flex;
  background: #E8E8E8;
  border-radius: .1rem;
  align-items: center;
  margin-top: .03rem;
}

header > .head > form > i.iconfont {
  width: 10%;
  margin-left: .1rem;
  color: #ccc;
}

header > .head > form > input {
  flex: 1;
  background: #E8E8E8;
  height: 90%;
  border-radius: .1rem;
  border: 0;
  outline: 0;
}

header > .head > form input:focus::-webkit-input-placeholder {
  color: #ccc;
}

header > .head > h2 {
  width: 10%;
  text-align: center;
}

header > .head > h2 > i.iconfont {
  font-size: .18rem;
  color: #999;
}

header > .head > h2 > p {
  font-size: .12rem;
  color: #999;
}

header > .head_nav {
  width: 100%;
  height: .4rem;
  display: flex;
  align-items: center;
  position: relative;
}

header > .head_nav > i.iconfont {
  position: absolute;
  text-align: center;
  line-height: .4rem;
  right: 0;
  width: .35rem;
  height: 100%;
  font-size: .2rem;
  color: #333;
  background: #FfF;
}

header > .head_nav > .happly {
  width: 17%;
  height: 100%;
  line-height: .4rem;
  flex-shrink: 0;
  padding: 0 .05rem;
  position: relative;
  z-index: 999;
  background: #FFF;
}

header > .head_nav > .happly > img {
  width: 100%;
}

header > .head_nav .roll {
  width: 80%;
  height: 100%;
}

header > .head_nav .roll ul {
  display: flex;
  height: 100%;
}

header > .head_nav .roll ul > li {
  margin: 0 .1rem;
  flex-shrink: 0;
  padding: .1rem 0;
}

header > .head_nav .roll ul .active {
  border-bottom: .02rem solid #D63B87;
  color: #D63B87;
}

section {
  flex: 1;
  overflow: auto;
}

.bigSwiper,
.swiper-wrapper,
.li {
  width: 100%;
  height: 100%;
}

footer {
  width: 100%;
  height: .45rem;
  background: green;
}
