* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
}

.wrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: .32rem;
}

.top,
.bot {
    width: 100%;
    height: 1.01rem;
    background: #f0c;
    text-align: center;
    line-height: 1.01rem;
}

.con {
    flex: 1;
}

.con h2 {
    width: 100%;
    height: 1rem;
    color: #f34;
    text-align: center;
    line-height: 1rem;
}

.con ul {
    width: 100%;
}

.con ul li {
    width: 100%;
    height: .8rem;
    line-height: .8rem;
    display: flex;
    border-bottom: 2px solid #fd0;
}

.con ul li span {
    flex: 1;
    color: #d36;
    text-align: center;
}