* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

body,
html,
.wrap {
    width: 100%;
    height: 100%;
    font-size: .16rem;
    overflow: hidden;
}

.wrap {
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    height: auto;
    flex-shrink: 0;
    border-bottom: 1px solid #ccc;
}

.text {
    width: 100%;
    height: .35rem;
    padding: 0 5%;
    margin: .05rem 0;
}

.text>input {
    display: inline-block;
    width: 75%;
    height: 100%;
    text-indent: 1em;
    background: #E8E8E8;
    border: none;
    border-radius: .05rem;
    margin-right: 5%;
}

.text>a {
    color: #898989;
}

nav {
    width: 100%;
    height: .4rem;
    overflow: hidden;
}

nav>ul {
    display: flex;
}

nav>ul>li {
    flex-shrink: 0;
    line-height: .4rem;
    padding: 0 .15rem;
}

nav>ul>li>img {
    position: relative;
    width: 100%;
    height: auto;
    top: .05rem;
}

.on {
    color: #B05284;
    border-bottom: 3px solid #B05284;
}

section,
.swiper-wrapper,.swiper-container
 {
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    flex-grow: 1;
}
.banner,.pic{
    width: 100%;
}
.banner,.pic img{
    width: 100%;
}
.lis,.lis>.uls{
    width: 100%;
    padding: 0 .03rem;
}
.lis>.uls{
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}
.lis>.uls>li{
    flex: 1;
}
.lis>.uls>li>i.iconfont{
    font-size: .2rem;
    position: relative;
    top:.02rem;
}
.lis>.uls>li>span{
    font-size: .12rem;
    padding-left: .04rem;
}
.hot{
    width: 100%;
    padding: .06rem .1rem 0;
}
.hot img{
    width: 100%;
}
.swiper-slide{
    width: 100%;
    height: 100%;
}
.html_2{
    background: #EC439E;
}
.list {
    width: 100%;
}

.menu {
    width: 100%;
}

.menu>ol {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.menu>ol>li {
    width: 20%;
    text-align: center;
    font-size: .13rem;
    color: #8b8d8c;
    margin-top: .2rem;
}

.menu>ol>li>img {
    display: block;
    width: 65%;
    margin: 0 auto;
    margin-bottom: .07rem;
}

.list h1 {
    width: 100%;
    margin-top: .12rem;
}

.list h1 img {
    width: 100%;
}

footer {
    width: 100%;
    height: .6rem;
    flex-shrink: 0;
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    color: #5D5D5D;
}
footer dl dd{
    font-size: .14rem;
    padding-top: .02rem;
}
footer dl dt i.iconfont{
    font-size: .24rem;
}
.bg{
    color: #EC439E;
}