* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body,
html,
.wrap {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-size: 0.14rem;
}

.wrap {
    display: flex;
    flex-direction: column;
    .section {
        flex: 1;
        width: 100%;
        &>ul {
            width: 100%;
            &>li {
                width: 100%;
                div {
                    width: 100%;
                    .header {
                        width: 100%;
                        height: 0.8rem;
                        display: flex;
                        justify-content: space-between;
                        span {
                            &:nth-of-type(1) {
                                flex: 9;
                                position: relative;
                                input {
                                    margin-left: 0.3rem;
                                    width: 85%;
                                    height: 0.5rem;
                                    padding-left: 0.6rem;
                                    margin-top: 0.15rem;
                                    background: #e8e8e8;
                                    border: none;
                                }
                                i {
                                    position: absolute;
                                    left: 0.4rem;
                                    top: 0.25rem;
                                }
                            }
                            &:nth-of-type(2) {
                                flex: 0;
                            }
                            &:nth-of-type(3) {
                                flex: 1;
                                dl {
                                    width: 100%;
                                    margin: 0 auto;
                                    margin-top: 0.15rem;
                                    height: 0.5rem;
                                    dt {
                                        width: 0.4rem;
                                        height: 0.2rem;
                                        margin: 0 auto;
                                        i {
                                            color: #989898;
                                            font-size: 0.1rem;
                                        }
                                    }
                                    dd {
                                        margin-top: 0.05rem;
                                        margin-left: 0.1rem;
                                        color: #989898;
                                        font-size: 0.12rem;
                                    }
                                }
                            }
                        }
                    }
                    .nav {
                        width: 100%;
                        height: 0.5rem;
                        line-height: 0.5rem;
                        overflow: hidden;
                        position: relative;
                        i {
                            position: absolute;
                            width: 0.5rem;
                            height: 0.5rem;
                            text-align: center;
                            line-height: 0.5rem;
                            top: 0;
                            right: 0;
                            background: #fff;
                        }
                        div {
                            display: flex;
                            width: 100%;
                            height: 0.5rem;
                            img {
                                width: 2.4rem;
                                height: 0.5rem;
                            }
                            .point {
                                height: 0.5rem;
                                line-height: 0.5rem;
                                display: flex;
                                li {
                                    flex-shrink: 0;
                                    padding: 0 0.2rem;
                                    &.active {
                                        color: orchid;
                                        span {
                                            border-bottom: 1px solid orchid;
                                            padding-bottom: 0.05rem;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .main {
                        width: 100%;
                        ul {
                            width: 100%;
                            li {
                                width: 100%;
                                div {
                                    width: 100%;
                                    .banner {
                                        width: 100%;
                                        height: 3rem;
                                        img {
                                            width: 100%;
                                            height: 100%;
                                        }
                                    }
                                    .pic {
                                        width: 100%;
                                        height: 2.5rem;
                                        img {
                                            width: 100%;
                                            height: 100%;
                                        }
                                    }
                                    .title {
                                        width: 100%;
                                        .content {
                                            width: 100%;
                                            display: flex;
                                            margin: 0.25rem 0;
                                            dl {
                                                flex: 1;
                                                dd {
                                                    width: 1rem;
                                                    height: 1rem;
                                                    border-radius: 50%;
                                                    background: pink;
                                                    text-align: center;
                                                    line-height: 1rem;
                                                    margin-left: 0.22rem;
                                                }
                                                dt {
                                                    text-align: center;
                                                    font-size: 0.25rem;
                                                    margin-top: 0.1rem;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .footer {
        width: 100%;
        height: 1.2rem;
        display: flex;
        dl {
            flex: 1;
            text-align: center;
            &.active {
                color: red;
            }
            dt {
                margin-top: 0.2rem;
            }
            dd {
                margin-top: 0.1rem;
            }
        }
    }
}