* {
    padding: 0;
    margin: 0;
    list-style: none;
}

body,
html {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-size: 0.32rem;
    background: pink;
}

.main .list {
    width: 100%;
    height: 2.5rem;
    display: flex;
}

.main .list .box {
    width: 33%;
    height: 2.5rem;
    background: #fff;
    position: relative;
    margin: 0 0.3%;
}

.main .list .box .strong {
    display: block;
    color: #55a40f;
    font-size: .3rem;
    margin-top: .12rem;
    margin-left: .36rem;
}

.main .list .box .small {
    font-size: .3rem;
    margin-top: .12rem;
    margin-left: .25rem;
    color: #666;
}

.main .list .box img {
    width: 1.24rem;
    height: 1.24rem;
    margin: auto;
    display: block;
    position: absolute;
    top: 1rem;
    left: 0.7rem;
}