* {
  margin: 0;
  padding: 0;
  list-style: none;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
} 
a{
  text-decoration: none;
  color: #000;
}
body {
  font-size: .32rem;
} 

.wrap{ 
    display: flex;
    flex-direction:column;
}

header {
  width: 100%;
  height: .9rem;
  display: flex;
  justify-content: space-between;
  padding: 0 .2rem;
}

header span:nth-child(1) {
  padding: 0 .3rem;
  line-height: .65rem;
  flex: 70%;
  height: .65rem;
  margin-top: .1rem;
  border-radius: .05rem;
  background: #ccc;
}

header span:nth-child(1) input {
  border: none;
  background: #ccc;
}

header span:nth-child(2) {
  flex: 15%;
  text-align: center;
}

header span:nth-child(2) dl {
  padding-top: .08rem;
}

header span:nth-child(2) dl dd {
  font-size: .2rem;
}  
section{
    flex:1; 
}
section .head {
  width: 100%; 
  overflow: hidden;
  background: #fff;
  display: flex;
  flex-wrap: wrap;
}

section .head dl {
  flex-basis: 20%;
  flex-direction: column;
}

section .head dl dt {
  padding-top: 0.1rem;
  text-align:center;
}

section .head dl dt i {
  width: 0.35rem;
  height: 0.35rem;
  font-size: .5rem;
  border: .01rem solid #ece7e7;
  border-radius: 50%;
}

section .head dl dd {
  padding-top: 0.1rem;
  color: #464343;
}

section .head dl:nth-child(1) dt i {
  color: red;
}

section .head dl:nth-child(2) dt i {
  color: #e42828;
}

section .head dl:nth-child(3) dt i {
  color: orange;
}

section .head dl:nth-child(4) dt i {
  color: #646319;
}

section .head dl:nth-child(5) dt i {
  color: blue;
}

section .head dl:nth-child(6) dt i {
  color: #2ef73f;
}

section .head dl:nth-child(7) dt i {
  color: red;
}

section .head dl:nth-child(8) dt i {
  color: blue;
}

section .head dl:nth-child(9) dt i {
  color: orange;
}

section .head dl:nth-child(10) dt i {
  color: orange;
}
section .banner{
  width: 100%;
}
section .banner img{ 
  width: 100%;
}
.pic{
  width: 100%;
}
.pic img{
  width: 100%;
}
.navs{
  width: 90%;
  display: flex;
  height: 1rem;
  align-items: center; 
}
.navs>a{ 
  display: flex;
  width: .5rem;
  height: .5rem;
  align-items: center;
  justify-content: center;
  background: #FFF; 
  position: absolute;
  right:0;
  z-index: 100;
}
.navs .as{ 
  display: flex;
}
.navs .as a{
  padding: 0 .3rem;
  flex-shrink: 0;
}
footer{
  width:100%;
  height:1rem;display: flex;
  position: fixed;
  bottom: 0 ;
} 

footer dl {
  flex: 25%;
  text-align: center;
}

footer dl:nth-child(1) {
  color: red;
}