body {
    width: 100%;
    height: 100%;
    .swiper-container {
        width: 100%;
        .swiper-wrapper {
            width: 100%
        }
    }
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    width: 100%;
}