html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video, input {
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
  font-family: STHeitiSC-Light;
  font: inherit;
  vertical-align: baseline;
}

html, body, form, fieldset, p, div, h1, h2, h3, h4, h5, h6 {
  -webkit-text-size-adjust: none;
}

html, body {
  width: 100%;
  height: 100%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  font-family: arial, sans-serif;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

ins, a {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  display: inline-block;
}

input, textarea {
  border: none;
  background: none;
  outline: none;
  -webkit-appearance: none;
}

* {
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  -ms-tap-highlight-color: transparent;
  -o-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
}

/*html {
    font-size: $browser-default-font-size;
}*/
html {
  font-size: 37.5px;
}

.wrap {
  width: 100%;
  height: 100%;
  background: #ccc;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  height: 1.2rem;
  background: red;
}

section {
  flex: 1;
  overflow: auto;
}

section .list {
  width: 100%;
  display: flex;
  background: #fff;
  padding: 20px;
  text-align: center;
  border-top: 1px solid #DDD8CE;
  border-bottom: 1px solid #DDD8CE;
  margin: 20px 0;
}

section .list dl {
  flex: 1;
  padding: 10px 19px;
  padding: 0;
  border-left: 1px solid #ddd8ce;
  height: 310px;
  text-align: center;
}

section .list dl dd {
  vertical-align: top;
  width: 255px;
  text-align: left;
  display: inline-block;
}

section .list dl dd p > strong {
  font-size: 42px;
}

section .list dl dd p {
  margin-top: 12px;
  margin-bottom: 36px;
}

section .list dl dd b {
  color: #666;
}

section .list dl:nth-child(1) {
  border-left: none;
}

section .list dl:nth-child(1) p > strong {
  color: #55a40f;
}

section .list dl:nth-child(2) p > strong {
  color: #ff3f0d;
}

section .list dl:nth-child(3) p > strong {
  color: #f742a0;
}

section .list dt {
  text-align: center;
  margin-top: 5px;
}

section .list dt img {
  width: 140px;
  height: 140px;
  margin: auto;
  display: block;
}
