* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}

html,
body,
.wrap {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-size: 0.3rem;
}

.operate {
    width: 100%;
}

.operate ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.operate ul li {
    width: 20%;
}

.operate ul li img {
    width: 100%;
}

.news {
    width: 100%;
    font-size: 0.32rem;
}

.wrap {
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    height: 0.65rem;
    padding-left: 0.2rem;
    line-height: 0.65rem;
}

.wrap .main h3 {
    width: 100%;
    height: 0.75rem;
    line-height: 0.75rem;
    position: relative;
}

.wrap .main h3 input {
    width: 80%;
    height: 0.6rem;
    margin-left: .3rem;
    background: #e8e8e8;
    border: none;
    border-radius: 0.03rem;
    padding-left: .6rem;
}

.wrap .main h3 i {
    position: absolute;
    left: 0.5rem;
    top: 0.1rem;
    font-size: 0.3rem;
    color: #c1c1c1;
}

.wrap .main h3 span {
    color: #c1c1c1;
    padding-left: 0.01rem;
}

.wrap .main .nav {
    width: 100%;
    height: .8rem;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
}

.wrap .main .nav ul {
    display: flex;
}

.wrap .main .nav ul li {
    flex-shrink: 0;
    padding: 0 0.2rem;
    line-height: 0.8rem;
}

.wrap .main .nav span {
    position: absolute;
    top: 0.25rem;
    right: 0;
    width: 0.6rem;
    height: .8rem;
    background: #fff;
}

.wrap .main .nav li.active {
    color: #b525c2;
}

.wrap .main .content {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.main {
    flex: 1;
    overflow-y: scroll;
    display: flex;
    overflow: hidden;
}

.wraps li img {
    width: 100%;
    height: 2.4rem;
}

.banner {
    width: 100%;
    height: 2.4rem;
}

.list {
    width: 100%;
    height: .6rem;
    display: flex;
}

.list span {
    font-size: .25rem;
    flex: 1;
    text-align: center;
    line-height: .6rem;
}

.list span i.iconfont {
    font-size: 0.25rem;
    padding: 0 0.1rem;
}

.money {
    width: 100%;
    height: 2rem;
    padding: 0.15rem;
}

.money img {
    width: 100%;
    height: 100%;
}

.main>div {
    flex: 1;
    width: 100%;
    height: 100%;
}

.footer {
    font-size: 0.32rem;
    width: 100%;
    height: 1rem;
}

.footer>ul {
    display: flex;
}

.footer>ul>li {
    flex: 1;
    text-align: center;
}

.footer>ul>.active {
    color: #f9f;
}