* {
    padding: 0;
    margin: 0;
    list-style: none;
}

html,
body,
.wrap {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.operate {
    width: 100%;
}

.operate ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.operate ul li {
    width: 20%;
}

.operate ul li img {
    width: 100%;
}

.news {
    width: 100%;
}